<!-- TITLE -->
<div id="aboutText">
    <h1 style="color:yellow">About Funnyfy</h1>
    <br>
    <div id="aboutBox">
        <p style="font-size: 30px;"> Are you tired, stressed, sad or just simply bored? We're here for you!</p>
        <br>
        <p>At FUNNYFY we help you escape from the daily routine, disconnect from all the problems and release all stress.</p>
        <p>Do you enjoy the classic knock-knock jokes? Or are you a programmer with a greate sense of humor?</p>
        <br>
        <p style="font-size: 30px;">Here we have jokes for everyone!</p>
        <br>
        <p>Create your account, search through our joke library, save you favorites and share with your friends.</p>
        <p style="font-size: 20px;">if your day is too hard for you to handle... come and FUNNYFY for yourself!</p>
        <br>
        <p style="font-size: 30px; color:#b0afac">You can  share on facebook your favorite jokes!</p>
        <p style="font-size: 20px; color:#b0afac">Underline the joke you like and click in the share button!</p>
    </div>
</div>