<!-- TITLE -->
<div id="aboutText">
    <h1 style="color:yellow">About Funnyfy</h1>
    <br>
    <div id="aboutBox">
        <br>
        <div id="aboutustextinner">
        <p style="font-size: 30px;"> Are you tired, stressed, sad or just simply bored? We're here for you! &#128521</p>
        <br>
        <p>At FUNNYFY we help you escape from the daily routine, disconnect from all the problems and release all stress.</p>
        <p>Do you enjoy the classic knock-knock jokes? &#128682 Or are you a programmer &#128187 with a greate sense of humor?</p>
        <br>
        <p style="font-size: 30px;">Here we have jokes for everyone!&#128118 &#128116</p>
        <br>
        <p>Create your account, search through our joke library, save you favorites and share with your friends.</p>
        <p style="font-size: 20px;">if your day is too hard for you to handle... come and FUNNYFY for yourself! &#128053</p>
        <br>
        <p style="font-size: 30px; text-decoration: underline; ">&#128204 You can  share on facebook your favorite jokes!</p>
        <p style="font-size: 20px; text-decoration: underline;">Highlight (select) the joke you like and click in the share button!</p>
        </div>
    </div>
</div>
<div id="gitlinkbuttons">
    <div id="enrique">
        <p style="text-align: end;">Find Enrique:</p>
        <div id="iconsLinkGit">
        <a href="https://www.linkedin.com/in/enrique-donaire/"><i class="fa fa-linkedin-square"></i></a>
        <br>
        <a href="https://github.com/Enriquedonaire"><i class="fa fa-github"></i></a>
        <br>
        </div>
    </div>
    <div id="rita">
        <p style="text-align: end;">Find Rita:</p>
        <div id="iconsLinkGit">
        <a href="https://www.linkedin.com/in/rita-mak/"><i class="fa fa-linkedin-square"></i></a>
        <br>
        <a href="https://github.com/rita-mak/"><i class="fa fa-github"></i></a>
        <br>
        </div>
    </div>
</div>