<a href="/" title="main"><i class="bi bi-chevron-left" style="font-size:48px"></i></a>


<h1>About Funnyfy</h1><br>

<p>Funnyfy is a page created from boredom and routine, to be able to disconnect with so much stress for at least a few minutes a day, the project gathers the best funny content.
It is aimed at all those who enjoy graphic and written humor as well as those who have no sense of humor at all.
You can also create your own jokes and edit them as many times as you want, you will have collections and you can update and even share it with friends or on your social networks as well.
you know!! if not you can with your day ... please come in and Funnyfy for yourself!</p>