<h1>Hello {{name}}. Welcome to your main page!</h1>
<br>
<img src="https://f8n-ipfs-production.imgix.net/QmfWtxAM2qwKrEXVoeasArDBrR12qL7HCuD2B4Tqe5R8Bs/nft.jpg?fit=fill&q=100&w=2560" width="200" alt="cat">
<br>
<a href="/private">Click to see private page</a>
