<h2>Create form</h2>

<div class="container">
  <div class="row">
    <div class="col">
    
<form method="POST" action="/auth/create">

  <div class="mb-3">
    <label class="form-label" >Username</label>
    <input class="form-control" type="text" name="name" value={{myUser.username}}>
    <br>
    <label class="form-label" >Email</label>
    <input class="form-control" type="text" name="propellers" value={{myUser.email}}>
    <br>
     <label class="form-label" >Password</label>
    <input class="form-control" type="text" name="maxSpeed" value={{myUser.password}}>
    <br>
    <button class="btn btn-primary" type="submit">DONE</button>
  </div>
  
</form>