<h2 >EDIT YOUR PROFILE</h2>
<div class="container" justify-content="center">
  <div class="row" align="center">
    <div class="col">
      <form method="POST" action="/profile/{{user._id}}" justify-content="center" >
      <div class="mb-3">
        <label class="form-label" >Username</label>
        <input class="form-control" type="text" name="username" value="{{user.username}}">
        <br>
        <label class="form-label" >Email</label>
        <input class="form-control" type="text" name="email" value="{{user.email}}">
        <br>
        <button type="submit"><i class="bi bi-save"></i></button>
      </div>
</form>