<a href="/profile" title="profile"><i class="bi bi-person-square" style="font-size:48px"></i></a>
    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
<div id="cards">
<div class="card" style="width: 18rem;">
  <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12EBD/production/_84810577_lol_yellow_thinkstock.jpg" class="card-img-top" alt="lol image">
  <div class="card-body">
    <h5 class="card-title">General</h5>
    <p class="card-text">jokes for everyone</p>
    <a href="/main/general" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <img src="https://www.codecademy.com/resources/blog/content/images/2020/08/what-programming-language-should-i-learn.png" class="card-img-top" alt="code image">
  <div class="card-body">
    <h5 class="card-title">Programming</h5>
    <p class="card-text">{ for the coders }</p>
    <a href="/main/programming" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <img src="https://us.123rf.com/450wm/inkdrop/inkdrop1712/inkdrop171200936/91708176-bright-yellow-wooden-front-door-with-knocker.jpg?ver=6" class="card-img-top" alt="yellow door">
  <div class="card-body">
    <h5 class="card-title">Knock-knock</h5>
    <p class="card-text">who is it?</p>
    <a href="/main/knock-knock" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
  </div>
</div>
</div>
<br>
