<h1>This is main</h1>
<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select id="cars" name="cars">
    <option value="general">general</option>
    <option value="programming">programming</option>
    <option value="knock-knock">knock-knock</option>
  </select>
  <input type="submit">
</form>