<h1>This is the main page</h1>
<a href="/profile">Go to your profile</a>
<br>
<h3>the joke of the day</h3>
<p>bbbb</p>
<p>add to fav</p>
<br>
<h3>all of our jokes</h3>
    <div class="search-container">
    <form action="/main" method="GET">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i value="search"></i></button>
    </form>
  </div>
<div id="cards">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">General</h5>
    <p class="card-text">jokes for everyone</p>
    <a href="/main/general" class="btn btn-primary"></a>
  </div>
</div>

<br>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Programming</h5>
    <p class="card-text">{for the coders out there}</p>
    <a href="/main/programming" class="btn btn-primary"></a>
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Knock-knock</h5>
    <p class="card-text">who is it?</p>
    <a href="/main/knock-knock" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<br>
