<a href="/main" title="main"><i class="bi bi-columns-gap" style="font-size:48px"></i></a>
<h1>Hello {{myUser.username}} Welcome to your private page!</h1>
<br>
<br>
{{myUser.username}}
<br>
<br>
{{myUser.favJokes}}
