<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://f8n-ipfs-production.imgix.net/QmfWtxAM2qwKrEXVoeasArDBrR12qL7HCuD2B4Tqe5R8Bs/nft.jpg?fit=fill&q=100&w=2560" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>all the jokes!</p>
      </div>
    </div>
          {{#each programming}}
    <div class="carousel-item">
      <img src="https://f8n-ipfs-production.imgix.net/QmfWtxAM2qwKrEXVoeasArDBrR12qL7HCuD2B4Tqe5R8Bs/nft.jpg?fit=fill&q=100&w=2560" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{this.setup}}</h5>
        <b5>{{this.punchline}}</h5>
        <button type="button" class="btn btn-light">Add to favourite</button>
      </div>
    </div>
            {{/each}}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>