<h1 align="center">Sign Up</h1>
<<<<<<< HEAD
<form class="form form-dark" action="/signup" method="POST">
  <label>Name</label>
  <input name="username" type="text"  placeholder="Enter your username"  >
  <label>Email</label>
  <input name="email" type="email"  placeholder="Enter your email"  >
  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
  <button>Sign Up</button>
=======
<form action="/signup" method="POST">
<label>Name</label>
<input name="username" type="text"  placeholder="Enter your username"  >
<label>Email</label>
<input name="email" type="email"  placeholder="Enter your email"  >
<label>Password</label>
<input name="password" type="password"  placeholder="Enter your Password"  >
<button><i class="bi bi-check2"></i></button>
>>>>>>> 9188be625cf4737638e7eaf1b3ca0b5b1dd2bbef
</form>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}