<h1 align="center" size="28">SignIn</h1>
<form action="/signin" method="POST">
    <label>Email</label>
    <input name="email" type="email"  placeholder="Enter your email"  >
    <label>Password</label>
    <input name="password" type="password"  placeholder="Enter your Password"  >
    <button>Sign In</button>
</form>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
