<h1 align="right">Sign Up</h1>
<form action="/signup" method="POST">
<label>Name</label>
<input name="username" type="text"  placeholder="Enter your username"  >
<label>Email</label>
<input name="email" type="email"  placeholder="Enter your email"  >
<label>Password</label>
<input name="password" type="password"  placeholder="Enter your Password"  >
<button><i class="bi bi-check2"></i></button>
</form>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}