<h1 style="font-size: 80px; color:yellow">Error!</h1>
<br>
<h1 style="font-size: 60px; color:white">There was an error on the server! Check the console!</h1>
<br>
<img src="./images/FunnyfyFace.png">

