body {
  background: #2a2c29;
  padding: 50px;
  font-family: 'Dela Gothic One', cursive;
  color: rgb(196, 183, 11);

}

nav {
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-bottom: 20px;
}

#aboutIcon {
  margin-left: 20px;
}

#profileIcon {
  margin-left: 20px;
}

#welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 40px;
  text-shadow: 2px 2px 5px white;
  padding: 40px
}

#aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-top: 40px;
  text-shadow: 2px 2px 5px white;
  padding: 40px
}

#favJokes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 2px 5px white;
  font-size: 30px;
  margin-bottom: 30px;
  border: 2px solid black;
  background-color: yellow;
  margin-left: 50px;
  margin-right: 50px;
}

#profileText{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px white;
}

#deleteFav {
  background-color: green;
}

.bi{
  margin-top: 0px;
}

#profileWrapper{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  justify-content: space-evenly;
  margin-left: 30px;
  margin-right: 30px;
}

#editprofileWrapper{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

#favJokesWrapper{
  background-color: white;
}

#jokeText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    text-shadow: 2px 2px 5px white;
}

#randomJokes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: yellow;
  color: black;
  font-size: 30px;
  width: 30%;
  height: 300px;

}

#programming{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: yellow;
  color: black;
  font-size: 30px;
  width: 30%;
  height: 300px;

}
#knock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: yellow;
  color: black;
  font-size: 30px;
  width: 30%;
  height: 300px;

}

a {
  color: rgb(196, 183, 11);
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background:  #43a3e6;
  border: 1px solid  #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #be30598c;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #8acf81;
  height: 55px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #47ca79;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
  color: #43a3e6;
  
}

#to-left p a {
  color: #43a3e6;
  font-weight: bold;
  font-size: 2em;
}

#cards{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.container {
  margin-top: 15px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
opacity: 1;
filter: alpha(opacity=100);
background-image: none;
background-repeat: no-repeat;
text-shadow: none;
}

.carousel-control.left span {
padding: 15px;
}

.carousel-control.right span {
padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
position: absolute;
top: 45%;
z-index: 5;
display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
opacity: .7;
filter: alpha(opacity=70);
}

/* Carousel Header Styles */

#firstLine {
  color: black;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}

#secondLine {
  background-color: black;
  font-size: 40px;
  margin-bottom: 10px;
}

#carouselWrapper{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  justify-content: center;
}